.baground {
  background-image: url(/Image/Dsg.webp);
  height: 800px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
