{{ define "main" }}
<!-- full-width background -->
<div class="baground">{{ partial "slider.html" . }}</div>

<!-- Main wrapper -->
<div class="row">
  <!-- 1st row: Sri Durgasaptashati -->
  <div class="bag">
    <div class="Devimahatmyam">
      <div class="Heade_content">
        <h2>DEVĪMĀHĀTMYAM</h2>
        <h3>GLORY OF THE DIVINE MOTHER</h3>
        <img src="/Image/separater-1.png" alt="separator" />
      </div>
      <div class="row_2">
        <!-- Left column -->
        <div class="clm_1">
          <img src="/Image/Shailaputri6.webp" alt="Maa Durga" />
        </div>

        <!-- Right column -->
        <div class="clm_2">
          <p>
            Devī Māhātmya, also known as Śrī Durgā Saptaśati, is a highly
            esteemed scripture from the Mārkaṇḍeya Purāṇa that celebrates the
            victory of Goddess Durgā over malevolent forces such as Mahiṣāsura.
            Highlighting the significance of the Mārkaṇḍeya Purāṇa, Sri
            Aurobindo noted, "we must recognize that the Mārkaṇḍeya Purāṇa,
            authored by a sage dedicated to spiritual endeavors, holds deeper
            Knowledge..." He specifically referred to the four powers of the
            Mother: Māheśvarī, Mahākālī, Mahāsarasvatī, and Mahālakṣmī. This
            text represents the victory of divine feminine energy (Śakti),
            fosters bravery, and underscores themes of protection, prosperity,
            and spiritual elevation, motivating devotees through their faith,
            strength, and moral integrity. The digital portal 'Devīmāhātmyam -
            Glory of the Divine Mother' offers profound spiritual,
            philosophical, and literary insights that are foundational to Indian
            cultural heritage, highlighting its significance in grasping the
            Śakti cult. This portal features the sacred text along with chants
            and translations by the distinguished scholar Shri S.
            Shankaranarayanan, who has interpreted the entire Devīmāhātmyam in
            the light of Sri Aurobindo.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- gallery -->
  <div class="bag-c">
    <div class="gallery">{{ partial "iteration.html" . }}</div>
  </div>
  <!-- 3rd row: Hymn to Durga -->
  <div class="bag">
    <div class="durgasutra">
      <div class="Heade_content">
        <h2>HYMN TO DURGA BY SRI AUROBINDO</h2>
        <img src="/Image/separater-1.png" alt="separator" />
      </div>

      <div class="row_2_1">
        <!-- Left column -->
        <div class="clm_2_1">
          <img src="Image/about-sri-aurobindo.webp" alt="Maa Durga" />
        </div>

        <!-- Right column -->
        <div class="clm_2_2">
          <p>
            In 1909, during the peak of the Indian independence movement, Sri
            Aurobindo composed his Durga Stotra, which was subsequently
            published in the Bengali journal Dharma. The motivation behind this
            work was to summon the divine energy of Mother Durga to materialize
            in India, endowing the nation with the bravery, strength, and wisdom
            necessary to conquer the 'forces of darkness' and attain liberation
            from oppression. This piece served as both a profound spiritual
            appeal and a rallying cry for the youth of India to act as conduits
            of this divine power for emancipation and change.
          </p>

          <!-- 3 boxes -->
          <div class="htdbsa">
            <div class="htdbsa-item">
              <a
                class="my-button2"
                href="https://www.youtube.com/watch?v=JYFkpkeUKAs"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="youtube-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M23.498 6.186a2.998 2.998 0 0 0-2.11-2.117C19.64 3.5 12 3.5 12 3.5s-7.64 0-9.388.569a2.998 2.998 0 0 0-2.11 2.117A31.724 31.724 0 0 0 0 12a31.724 31.724 0 0 0 .502 5.814 2.998 2.998 0 0 0 2.11 2.117C4.36 20.5 12 20.5 12 20.5s7.64 0 9.388-.569a2.998 2.998 0 0 0 2.11-2.117A31.724 31.724 0 0 0 24 12a31.724 31.724 0 0 0-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
                    />
                  </svg>
                </span>
                <span class="heading"> || Durga Stotra || || Bengali || </span>
                <span class="arrow">➔</span>
              </a>
            </div>

            <div class="htdbsa-item">
              <a
                class="my-button2"
                href="https://youtu.be/tVhG7KFBv1c?si=mwxwK33JuRBIMyWI"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="youtube-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M23.498 6.186a2.998 2.998 0 0 0-2.11-2.117C19.64 3.5 12 3.5 12 3.5s-7.64 0-9.388.569a2.998 2.998 0 0 0-2.11 2.117A31.724 31.724 0 0 0 0 12a31.724 31.724 0 0 0 .502 5.814 2.998 2.998 0 0 0 2.11 2.117C4.36 20.5 12 20.5 12 20.5s7.64 0 9.388-.569a2.998 2.998 0 0 0 2.11-2.117A31.724 31.724 0 0 0 24 12a31.724 31.724 0 0 0-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
                    />
                  </svg>
                </span>
                <span class="heading"> || Durga Stotra || || English || </span>
                <span class="arrow">➔</span>
              </a>
            </div>

            <div class="htdbsa-item">
              <a
                class="my-button2"
                href="https://youtu.be/9IhF74iif48?si=hHacvgAapuXLz8bt"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="youtube-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M23.498 6.186a2.998 2.998 0 0 0-2.11-2.117C19.64 3.5 12 3.5 12 3.5s-7.64 0-9.388.569a2.998 2.998 0 0 0-2.11 2.117A31.724 31.724 0 0 0 0 12a31.724 31.724 0 0 0 .502 5.814 2.998 2.998 0 0 0 2.11 2.117C4.36 20.5 12 20.5 12 20.5s7.64 0 9.388-.569a2.998 2.998 0 0 0 2.11-2.117A31.724 31.724 0 0 0 24 12a31.724 31.724 0 0 0-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
                    />
                  </svg>
                </span>
                <span class="heading"> || Durga Stotra || || Sanskrit || </span>
                <span class="arrow">➔</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 4th row: Digital Portals -->
  <div class="bag">
    <div class="row_3">
      <div class="clm_31">
        <div class="Heade_content">
          <section id="our-project">
            <h2>DIGITAL PORTALS</h2>
          </section>
          <img src="/Image/separater-1.png" alt="separator" />
          <p>
            Delve into the digital resources that represent the profound
            literary heritage of India, which showcases a variety of cultural
            narratives, promotes scholarly research, and enhances educational
            opportunities. These resources are vital for the preservation of
            traditions, languages, and stories, fostering cross-cultural
            understanding in the modern digital context.
          </p>
          <a class="my-button" href="">
            Click Me
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
              width="16"
              height="16"
              style="margin-left: 8px; vertical-align: middle"
              aria-hidden="true"
            >
              <path
                d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288H96C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352H466.7L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7Z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>

        <!-- portal images -->
        <div class="potal_image">
          <a
            href="https://theveda.org.in/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/THE_VEDA.webp" alt="THE VEDA" />
          </a>
          <a
            href="https://upanishads.org.in/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/THE_UPANISHADS.webp" alt="THE UPANISHADS" />
          </a>
          <a
            href="https://bhagavadgita.org.in/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/BHAGAVAD_GITA.webp" alt="Bhagavad Gita" />
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=org.vandemataramlibrary.bhavanibharati&pli=1"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/BHAVANI_BHARATI.webp" alt="BHAVANI BHARATI" />
          </a>
          <a
            href="https://devavanisanskritradio.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/Image/DEVAVANI_AUR_BHARATI_SANSKRIT_RADIO.webp"
              alt="Devavani Aurobharati Sanskrit Radio"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 5th row: Slider -->
  <div class="row_4">
    <div class="s_row">
      <div class="bag">
        <div class="layout-2">
          <div class="Heade_content">
            <!--<h3>SRI DURGASAPTASHATI</h3>-->
            <h2>JOIN OUR COMMUNITY</h2>

            <img src="/Image/separater-1.png" alt="separater" />
            <p>
              Become a member of our community to connect with like-minded
              individuals, share insights, and grow collectively. Join a
              collaborative network that values cooperation, education, and
              mutual respect. Together, we celebrate diversity, inspire
              creativity, and make a meaningful impact. Your voice is
              essential—join us and contribute to our shared journey.
            </p>
          </div>
          <div class="layout-box2">
            <div class="clm-L1">
              <h5>Facebook:</h5>
              <div class="post-slider">
                <ul>
                  <li>
                    <a
                      href="https://www.facebook.com/sasaurobharati/posts/pfbid02Zg7CG2HsN2HhJkmMZfQVLqx5pHzgFxmaFqeo4jESwXMJB7qgUDvJfn6F75oWEiZpl?__cft__[0]=AZV-PZ81cZuogF7bMeuR1WKUUzj01iMk-iazpMsUSm2vxfZJJhl9MBiPlMxMQ_CKHYi6bobpUn8hyL0QfEJ5ZndQbX3a_KQmELiidvoc8LZsuFxlgusSFMo-UDYuHwyTZja_DUU9wMnjvbtBmUD-X2ikSFndVjTF19lrgPb7HURK1A&__tn__=%2CO%2CP-R"
                      target="_blank"
                      ><span>➔</span>On the auspicious occasion of Vijayā
                      Daśamī, AuroBharati, Sri Aurobindo Society, presents Web
                      Portal on ‘Devī Māhātmyam: Glory of the Divine Mother.’</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post2" target="_blank"
                      ><span>➔</span>Mahashakti: Celebrating the Legacy of
                      Shakti Cult in the Light of Sri Aurobindo & the Mother on
                      the auspicious occasion of Vijaya Dashami, organized by
                      AuroBharati, Sri Aurobindo Society, Puducherry.</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post3" target="_blank"
                      ><span>➔</span>"Ardhanaari Nateshwara" - The divine form
                      of Lord Shiva</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post4" target="_blank"
                      ><span>➔</span> of Mahashakti and workshop on Carnatic
                      Music</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post1" target="_blank"
                      ><span>➔</span>Mahashakti: Celebrating the Legacy of
                      Shakti Upasana in the Light of Sri Aurobindo & the
                      Mother</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post2" target="_blank"
                      ><span>➔</span>Vocal Music Concert by Shri Ninad Anil
                      Shukla</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post3" target="_blank"
                      ><span>➔</span>"Ardhanaari Nateshwara" - The divine form
                      of Lord Shiva</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post4" target="_blank"
                      ><span>➔</span> of Mahashakti and workshop on Carnatic
                      Music</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="clm-L2">
              <h5>Twitter:</h5>
              <div class="post-slider">
                <ul>
                  <li>
                    <a href="https://example.com/post1" target="_blank"
                      ><span>➔</span>Mahashakti: Celebrating the Legacy of
                      Shakti Upasana in the Light of Sri Aurobindo & the
                      Mother</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post2" target="_blank"
                      ><span>➔</span>Vocal Music Concert by Shri Ninad Anil
                      Shukla</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post3" target="_blank"
                      ><span>➔</span>"Ardhanaari Nateshwara" - The divine form
                      of Lord Shiva</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post4" target="_blank"
                      ><span>➔</span> of Mahashakti and workshop on Carnatic
                      Music</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post1" target="_blank"
                      ><span>➔</span>Mahashakti: Celebrating the Legacy of
                      Shakti Upasana in the Light of Sri Aurobindo & the
                      Mother</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post2" target="_blank"
                      ><span>➔</span>Vocal Music Concert by Shri Ninad Anil
                      Shukla</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post3" target="_blank"
                      ><span>➔</span>"Ardhanaari Nateshwara" - The divine form
                      of Lord Shiva</a
                    >
                  </li>
                  <li>
                    <a href="https://example.com/post4" target="_blank"
                      ><span>➔</span> of Mahashakti and workshop on Carnatic
                      Music</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="clm-L3">
              <h5>Instagram:</h5>
              <div id="social-buttons">
                <!-- Instagram -->
                <a
                  href="https://www.instagram.com/sasaurobharati/"
                  target="_blank"
                  class="social-btn volunteership"
                >
                  <svg viewBox="0 0 512 512">
                    <path
                      d="M349.33 69.33H162.67C103.83 69.33 56 117.17 56 176v186.67c0 58.83 47.83 106.67 106.67 106.67h186.67c58.83 0 106.67-47.83 106.67-106.67V176c0-58.83-47.83-106.67-106.67-106.67zm72 292.67c0 39.67-32.33 72-72 72H162.67c-39.67 0-72-32.33-72-72V176c0-39.67 32.33-72 72-72h186.67c39.67 0 72 32.33 72 72v186.67z"
                    />
                    <circle cx="256" cy="256" r="80" />
                  </svg>
                  Instagram
                </a>

                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/people/AuroBharati-Sri-Aurobindo-Society-Puducherry/100081441377692/"
                  target="_blank"
                  class="social-btn support"
                >
                  <svg viewBox="0 0 320 512">
                    <path
                      d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S292.07 0 262.21 0c-73.61 0-121.38 44.38-121.38 124.72v70.62H79.41V288h61.42v224h92.66V288z"
                    />
                  </svg>
                  Facebook
                </a>

                <!-- YouTube -->
                <a
                  href="https://www.youtube.com/user/aurosocietypondy"
                  target="_blank"
                  class="social-btn contact"
                >
                  <svg viewBox="0 0 576 512">
                    <path
                      d="M549.655 124.083c-6.281-23.645-24.803-42.168-48.448-48.448C457.72 64 288 64 288 64S118.28 64 74.793 75.635c-23.645 6.281-42.168 24.803-48.448 48.448C16 168.623 16 256 16 256s0 87.377 10.345 131.917c6.281 23.645 24.803 42.168 48.448 48.448C118.28 448 288 448 288 448s169.72 0 213.207-11.635c23.645-6.281 42.168-24.803 48.448-48.448C560 343.377 560 256 560 256s0-87.377-10.345-131.917zM232 334V178l142 78-142 78z"
                    />
                  </svg>
                  Youtube
                </a>

                <!-- Twitter -->
                <a
                  href="https://x.com/aurobharati"
                  target="_blank"
                  class="social-btn twitter"
                >
                  <svg viewBox="0 0 512 512">
                    <path
                      d="M459.4 151.7c.32 4.54.32 9.09.32 13.63 0 138.72-105.58 298.56-298.56 298.56-59.5 0-114.87-17.22-161.38-47.01 8.44.97 16.94 1.44 25.55 1.44 49.29 0 94.65-16.81 130.55-45.14-46.12-.97-84.86-31.28-98.13-73.04 6.44.97 12.88 1.61 19.55 1.61 9.42 0 18.62-1.28 27.34-3.61-48.2-9.69-84.35-52.14-84.35-103.11v-1.28c14.08 7.84 30.2 12.88 47.36 13.53-28.18-18.84-46.67-51.02-46.67-87.35 0-19.42 5.2-37.63 14.32-53.29 51.9 63.67 129.64 105.58 217.25 110.01-1.8-7.52-2.88-15.41-2.88-23.48 0-57.94 46.92-104.98 104.98-104.98 30.2 0 57.47 12.88 76.65 33.65 23.88-4.54 46.34-13.41 66.54-25.41-7.84 24.48-24.48 45.04-46.34 58.04 21.2-2.3 41.48-8.16 60.32-16.48-14.08 20.79-31.88 39.2-52.34 53.89z"
                    />
                  </svg>
                  Twitter
                </a>
              </div>
            </div>
            <div class="clm-L4">
              <h5>Get Involved:</h5>
              <div id="layout-3-link">
                <img
                  src="/Image/Volunteership.webp"
                  width="100%"
                  alt="Get Involved Banner"
                />
                <a
                  href="https://aurobharati.in/volunteers-and-internships/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Volunteership</a
                >
                <a
                  href="https://aurobharati.in/volunteers-and-internships/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Support Us</a
                >
                <a href="/contact/" target="_blank" rel="noopener noreferrer"
                  >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
