{{ define "main" }}
<!-- full-width background -->
<div class="baground">{{ partial "slider.html" . }}</div>

<!-- Main wrapper -->
<div class="row">
  <!-- 1st row: Sri Durgasaptashati -->
  <div class="bag">
    <div class="row_2">
      <!-- Left column -->
      <div class="clm_1">
        <img src="/Image/Shailaputri6.webp" alt="Maa Durga" />
      </div>

      <!-- Right column -->
      <div class="clm_2">
        <div class="Heade_content">
          <h2>SRI DURGASAPTASHATI</h2>
          <img src="/Image/separater-1.png" alt="separator" />
        </div>
        <p>
          Devī Māhātmya, also known as Śrī Durgā Saptaśati, is a highly esteemed
          scripture from the Mārkaṇḍeya Purāṇa that celebrates the victory of
          Goddess Durgā over malevolent forces such as Mahiṣāsura. Highlighting
          the significance of the Mārkaṇḍeya Purāṇa, Sri Aurobindo noted, "we
          must recognize that the Mārkaṇḍeya Purāṇa, authored by a sage
          dedicated to spiritual endeavors, holds deeper Knowledge..." He
          specifically referred to the four powers of the Mother: Māheśvarī,
          Mahākālī, Mahāsarasvatī, and Mahālakṣmī. This text represents the
          victory of divine feminine energy (Śakti), fosters bravery, and
          underscores themes of protection, prosperity, and spiritual elevation,
          motivating devotees through their faith, strength, and moral
          integrity. The digital portal 'Devīmāhātmyam - Glory of the Divine
          Mother' offers profound spiritual, philosophical, and literary
          insights that are foundational to Indian cultural heritage,
          highlighting its significance in grasping the Śakti cult. This portal
          features the sacred text along with chants and translations by the
          distinguished scholar Shri S. Shankaranarayanan, who has interpreted
          the entire Devīmāhātmyam in the light of Sri Aurobindo.
        </p>
      </div>
    </div>
  </div>
  <!-- gallery -->
  <div class="bag-c">
    <div class="gallery">{{ partial "iteration.html" . }}</div>
  </div>
  <!-- 3rd row: Hymn to Durga -->
  <div class="bag">
    <div class="durgasutra">
      <div class="Heade_content">
        <h2>HYMN TO DURGA BY SRI AUROBINDO</h2>
        <img src="/Image/separater-1.png" alt="separator" />
      </div>

      <div class="row_2_1">
        <!-- Left column -->
        <div class="clm_2_1">
          <img src="/Image/sri-aurobindo.webp" alt="Maa Durga" />
        </div>

        <!-- Right column -->
        <div class="clm_2_2">
          <p>
            In 1909, during the peak of the Indian independence movement, Sri
            Aurobindo composed his Durga Stotra, which was subsequently
            published in the Bengali journal Dharma. The motivation behind this
            work was to summon the divine energy of Mother Durga to materialize
            in India, endowing the nation with the bravery, strength, and wisdom
            necessary to conquer the 'forces of darkness' and attain liberation
            from oppression. This piece served as both a profound spiritual
            appeal and a rallying cry for the youth of India to act as conduits
            of this divine power for emancipation and change.
          </p>

          <!-- 3 boxes -->
          <div class="htdbsa">
            <div class="htdbsa-item">
              <a
                class="my-button2"
                href="https://www.youtube.com/watch?v=JYFkpkeUKAs"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="heading">
                  || Durga Stotra ||<br class="line-break" />
                  || Bengali ||
                </span>
                <span class="arrow">➔</span>
              </a>
            </div>

            <div class="htdbsa-item">
              <a
                class="my-button2"
                href="https://youtu.be/tVhG7KFBv1c?si=mwxwK33JuRBIMyWI"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="heading">
                  || Durga Stotra ||<br class="line-break" />
                  || English ||
                </span>
                <span class="arrow">➔</span>
              </a>
            </div>

            <div class="htdbsa-item">
              <a
                class="my-button2"
                href="https://youtu.be/9IhF74iif48?si=hHacvgAapuXLz8bt"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="heading">
                  || Durga Stotra ||<br class="line-break" />
                  || Sanskrit ||
                </span>
                <span class="arrow">➔</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 4th row: Digital Portals -->
  <div class="bag">
    <div class="row_3">
      <div class="clm_31">
        <div class="Heade_content">
          <section id="our-project">
            <h2>DIGITAL PORTALS</h2>
          </section>
          <img src="/Image/separater-1.png" alt="separator" />
          <p>
            Delve into the digital resources that represent the profound
            literary heritage of India, which showcases a variety of cultural
            narratives, promotes scholarly research, and enhances educational
            opportunities. These resources are vital for the preservation of
            traditions, languages, and stories, fostering cross-cultural
            understanding in the modern digital context.
          </p>
          <a class="my-button" href="">
            Click Me
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
              width="16"
              height="16"
              style="margin-left: 8px; vertical-align: middle"
              aria-hidden="true"
            >
              <path
                d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288H96C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352H466.7L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7Z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>

        <!-- portal images -->
        <div class="potal_image">
          <a
            href="https://theveda.org.in/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/THE_VEDA.webp" alt="THE VEDA" />
          </a>
          <a
            href="https://upanishads.org.in/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/THE_UPANISHADS.webp" alt="THE UPANISHADS" />
          </a>
          <a
            href="https://bhagavadgita.org.in/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/BHAGAVAD_GITA.webp" alt="Bhagavad Gita" />
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=org.vandemataramlibrary.bhavanibharati&pli=1"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/Image/BHAVANI_BHARATI.webp" alt="BHAVANI BHARATI" />
          </a>
          <a
            href="https://devavanisanskritradio.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/Image/DEVAVANI_AUR_BHARATI_SANSKRIT_RADIO.webp"
              alt="Devavani Aurobharati Sanskrit Radio"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 5th row: Slider -->
  <div class="row_4">
    <div class="s_row">
      <div class="bag">
        <div class="layout-2">
          <div class="Heade_content">
            <!--<h3>SRI DURGASAPTASHATI</h3>-->
            <h2>JOIN OUR COMMUNITY</h2>

            <img src="/Image/separater-1.png" alt="separater" />
            <p>
              Become a member of our community to connect with like-minded
              individuals, share insights, and grow collectively. Join a
              collaborative network that values cooperation, education, and
              mutual respect. Together, we celebrate diversity, inspire
              creativity, and make a meaningful impact. Your voice is
              essential—join us and contribute to our shared journey.
            </p>
          </div>
          <div class="layout-box2">
            <div class="clm-L1">
              <h5>Facebook:</h5>
            </div>
            <div class="clm-L2">
              <h5>Twitter:</h5>
            </div>
            <div class="clm-L3">
              <h5>Instagram:</h5>
            </div>
            <div class="clm-L4">
              <h5>Get Involved:</h5>
              <div id="layout-3-link">
                <img
                  src="/Image/Volunteership.webp"
                  width="100%"
                  alt="Get Involved Banner"
                />
                <a
                  href="https://aurobharati.in/volunteers-and-internships/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Volunteership</a
                >
                <a
                  href="https://aurobharati.in/volunteers-and-internships/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Support Us</a
                >
                <a href="/contact/" target="_blank" rel="noopener noreferrer"
                  >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
