<div class="bag-c">
  <div class="layout">
    <div class="Heade_content">
      <!--<h3>SRI DURGASAPTASHATI</h3>-->
      <h2>OUTREACH ACTIVITIES</h2>

      <img src="/Image/separater-1.png" alt="separater" />
      <p>
        We organize a range of community outreach activities focused on
        heritage, which involve engaging local communities through workshops,
        exhibitions, festivals, and educational programs. These initiatives aim
        to raise cultural awareness, preserve traditions and ensure the
        continuity of cultural practices for future generations.
      </p>
    </div>
    <div class="post">
      <!-- Column 1 -->
      <div class="news-box">
        <ul class="news-list">
          <li class="news-row">
            <img
              src="/Image/M-C-the-L-of-SU-in-the-L-of-Sri-Aurobindo-the-Mother-12-01-2024.webp"
              alt="Celebrating the Legacy of Shakti Upasana"
            />
            <div class="news-content">
              <h5>
                <a
                  href="https://aurobharati.in/27654/past-events/mahashakti-celebrating-the-legacy-of-shakti-upasana-in-the-light-of-sri-aurobindo-the-mother/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Mahashakti: Celebrating the Legacy of Shakti Upasana in the
                  Light of Sri Aurobindo & the Mother</a
                >
              </h5>
              <p>
                AuroBharati, organised "Mahashakti" celebrating Shakti's legacy
                in Sri Aurobindo's light.
                <a
                  href="https://aurobharati.in/27654/past-events/mahashakti-celebrating-the-legacy-of-shakti-upasana-in-the-light-of-sri-aurobindo-the-mother/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Read more...
                </a>
              </p>
            </div>
          </li>

          <li class="news-row">
            <img
              src="/Image/AB-CM-Oct22-4.webp"
              alt="Carnatic Music Workshop"
            />
            <div class="news-content">
              <h5>
                <a
                  href="https://aurobharati.in/6576/past-events/celebration-of-mahashakti-and-workshop-on-carnatic-music/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Celebration of Mahashakti and workshop on Carnatic Music
                </a>
              </h5>
              <p>
                Workshop on Carnatic Music as a celebration of Durga Puja.<br />
                <a
                  href="https://aurobharati.in/6576/past-events/celebration-of-mahashakti-and-workshop-on-carnatic-music/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Read more...</a
                >
              </p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="news-box2">
        <ul class="news-list">
          <li class="news-row">
            <img
              src="/Image/AN-The-divine-form-of-Lord-Shiva-KK-29-07-2023.webp"
              alt="Ardhanaari Nateshwara-The divine form of Lord Shiva"
            />
            <div class="news-content">
              <h5>
                <a
                  href="https://aurobharati.in/26223/past-events/ardhanaari-nateshwara-the-divine-form-of-lord-shiva/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >"Ardhanaari Nateshwara" - The divine form of Lord Shiva</a
                >
              </h5>
              <p>
                A lecture-cum-demonstration Programme organized by
                AuroBharati.<br />
                <a
                  href="https://aurobharati.in/26223/past-events/ardhanaari-nateshwara-the-divine-form-of-lord-shiva/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Read more...</a
                >
              </p>
            </div>
          </li>
          <li class="news-row">
            <img
              src="/Image/Vocal-Music-Concert-by-Shri-Ninad-Anil-Shukla-11-11-2023-KK.webp"
              alt="Vocal Music Concert by Shri Ninad Anil Shukla"
            />
            <div class="news-content">
              <h5>
                <a
                  href="https://aurobharati.in/26294/past-events/vocal-music-concert-by-shri-ninad-anil-shukla/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Vocal Music Concert by Shri Ninad Anil Shukla
                </a>
              </h5>
              <p>
                Immerse yourselves in the vocal music concert where harmony is
                in synchronization with the melody<br />
                <a
                  href="https://aurobharati.in/26294/past-events/vocal-music-concert-by-shri-ninad-anil-shukla/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Read more...</a
                >
              </p>
            </div>
          </li>
        </ul>
        <!-- ✅ Fixed here -->
      </div>
    </div>
  </div>
</div>

<div class="bag">
  <div class="layout-2">
    <div class="Heade_content">
      <!--<h3>SRI DURGASAPTASHATI</h3>-->
      <h2>JOIN OUR COMMUNITY</h2>

      <img src="/Image/separater-1.png" alt="separater" />
      <p>
        Become a member of our community to connect with like-minded
        individuals, share insights, and grow collectively. Join a collaborative
        network that values cooperation, education, and mutual respect.
        Together, we celebrate diversity, inspire creativity, and make a
        meaningful impact. Your voice is essential—join us and contribute to our
        shared journey.
      </p>
    </div>
    <div class="layout-box2">
      <div class="clm-L1">
        <h5>Facebook:</h5>
        <a
          href="https://aurobharati.in/26294/past-events/vocal-music-concert-by-shri-ninad-anil-shukla/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://balasahityam.in/wp-content/uploads/2024/08/05-Mar-2024-1.webp"
            width="100%"
            alt="Facebook"
          />
        </a>
      </div>
      <div class="clm-L2">
        <h5>Twitter:</h5>
        <img
          src="https://balasahityam.in/wp-content/uploads/2024/08/screencapture-twitter-aurobharati-20vvv24-06-24-10_27_53-1.png"
          width="100%"
          alt="Twitter"
        />
      </div>
      <div class="clm-L3">
        <h5>Facebook:</h5>
        <img
          src="https://balasahityam.in/wp-content/uploads/2024/08/05-Mar-2024-1.webp"
          width="100%"
          alt="Facebook"
        />
      </div>
      <div class="clm-L4">
        <h5>Get Involved:</h5>
        <div id="layout-3-link">
          <img
            src="https://aurobharati.in/wp-content/uploads/2024/01/New-Project-1.webp"
            width="100%"
            alt="Get Involved Banner"
          />
          <a
            href="https://aurobharati.in/volunteers-and-internships/"
            target="_blank"
            rel="noopener noreferrer"
            >Volunteership</a
          >
          <a
            href="https://aurobharati.in/volunteers-and-internships/"
            target="_blank"
            rel="noopener noreferrer"
            >Support Us</a
          >
          <a href="/contact/" target="_blank" rel="noopener noreferrer"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
