<div class="content-section">
  <div class="Heade_content">
    <h2>नवदुर्गाः NINE DURGĀS</h2>
    <img src="/Image/separater-1.png" alt="separator" />
  </div>
  <p>
    प्रथमं शैलपुत्रीति द्वितीयं ब्रह्मचारिणी।<br />
    तृतीयं चन्द्रघण्टेति कूष्माण्डेति चतुर्थकम्॥<br />
    पञ्चमं स्कन्दमातेति षष्ठं कात्यायनीति च।<br />
    सप्तमं कालरात्रिश्च महागौरीति चाष्टमम्॥ <br />
    नवमं सिद्धिदात्री च नवदुर्गाः प्रकीर्तिताः।<br />
    उक्तान्येतानि नामानि ब्रह्मणैव महात्मना॥
  </p>

  <p>
    Devīmāhātmya defines the nine auspicious forms of the Divine Mother: First,
    the daughter of the mountain; second the one who moves in Brahman; third the
    delightful sound; fourth the seed of incubation on earth; fifth the mother
    of Skanda; sixth Kātyāyanī, the eternal virgin; seventh the dark night;
    eighth the great white one; and ninth the one who grants perfection - thus
    are enumerated the nine Durgās. These names have been mentioned by the great
    Brahman himself.
  </p>
</div>

<!-- Flexbox Gallery -->
<div class="gallery-flex">
  <a href="#img1"
    ><img src="/Image/Shailaputri.webp" alt="Gallery Image 1"
  /></a>
  <a href="#img1"
    ><img src="/Image/davi-Brahmacharini.webp" alt="Gallery Image 2"
  /></a>
  <a href="#img2"
    ><img src="/Image/davi-chandraghanta.webp" alt="Gallery Image 3"
  /></a>
  <a href="#img3"
    ><img src="/Image/davi-Kushmanda.webp" alt="Gallery Image 4"
  /></a>
  <a href="#img4"
    ><img src="/Image/davi-skandmata.webp" alt="Gallery Image 5"
  /></a>

  <a href="#img6"
    ><img src="/Image/davi-katyayani.webp" alt="Gallery Image 6"
  /></a>
  <a href="#img7"
    ><img src="/Image/davi-kaalraatri.webp" alt="Gallery Image 7"
  /></a>
  <a href="#img8"
    ><img src="/Image/davi-mahagauri.webp" alt="Gallery Image 8"
  /></a>
  <a href="#img9"
    ><img src="/Image/davi-siddhidatri.webp" alt="Gallery Image 9"
  /></a>
</div>
